.gs-Servicescontainer {
    margin: 0;
}
.gs-Serviceswrap {
    background-image: url(../../assets/serve.jpeg);
    background-size: cover;
    position: relative;
    height: 105vh;
    opacity: .9;
}
.gs-Servicesheadwrap {
    background: black;
    background: rgba(0, 0, 0, 0.575);
    color: beige;
    width: 50%;
    padding: 20px;
    margin: 15% auto 0 auto;
    font-size: x-large;
    z-index: 4;
}
.gs-Serviceshead {
    font-weight: 100;
    text-align: center;
}
.gs-Servicestext {
    width: 40%;
    margin: auto;
}
.gs-Servicestexthead {
    font-weight: 100;
    font-size: 50px;
    padding: 80px 0 20px 0;
}
.gs-Servicestext p{
    line-height: 29px;
}
.gs-Servicesspan {
    color: rgba(53, 146, 252, 0.979);
    font-weight: 700;
}
.gs-Servicespix {
    display: flex;
    flex-wrap: wrap;
    margin: 8% auto 0 auto;
    width: 100%;
}
.gs-gallery img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
/* .gs-gallery {
    flex: 15%;
    max-width: 25%;
    padding: 0px 5px;
} */
 .gs-Servicesgallery {
    display: flex;
    flex-direction: row-reverse;
 }
 .gs-Servicesgallery-item {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gs-pee {
    background: black;
    background: rgba(0, 0, 0, 0.356);
    color: beige;
    width: 45%;
    padding: 25px;
    /* margin: 0 auto; */
    top: 45%;
    left: 35%;
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    z-index: 4;
    position: absolute;
}