.gs-Servicescontainer {
    margin: 0;
}
.gs-Serviceswrap {
    background-image: url(../../assets/serve.jpeg);
    background-size: cover;
    position: relative;
    height: 105vh;
    opacity: .9;
}
.gs-Servicesheadwrap {
    background: black;
    background: rgba(0, 0, 0, 0.575);
    color: beige;
    width: 50%;
    padding: 20px;
    margin: 28% auto 0 auto;
    font-size: x-large;
    z-index: 4;
}
.gs-Serviceshead {
    font-weight: 100;
    text-align: center;
}
.gs-Servicestext {
    width: 40%;
    margin: auto;
}
.gs-Servicestexthead {
    font-weight: 100;
    font-size: 50px;
    padding: 80px 0 20px 0;
}
.gs-Servicestext p{
    line-height: 29px;
}
.gs-Servicesspan {
    color: rgba(53, 146, 252, 0.979);
    font-weight: 700;
}
.gs-Servicespix {
    display: flex;
    flex-wrap: wrap;
    margin: 8% auto 0 auto;
    width: 100%;
}
.gs-gallery img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
 .gs-Servicesgallery {
    display: flex;
    width: 100%;
    align-items: flex-end;
 }
 .gs-Servicesgallery-item {
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gs-pee {
    background: black;
    background: rgba(0, 0, 0, 0.610);
    color: beige;
    width: 40%;
    padding: 25px;
    top: 45%;
    left: 30%;
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    z-index: 4;
    position: absolute;
}
@media screen and (max-width:950px){
    .gs-Servicestext {
        width: 58%;
        margin: auto;
    }
    .gs-Servicesheadwrap {
        width: 55%;
        padding: 25px;
        margin: 20% auto 0 auto;
        font-size: x-large;
        z-index: 4;
    }
}
@media screen and (max-width:950px){

}