.gs-Aboutwrap {
    background-image: url(../../assets/officeview.jpg);
    background-size: cover;
    position: relative;
    height: 128vh;
}
.gs-Hometext {
    background: black;
    background: rgba(0, 0, 0, 0.61);
    color: beige;
    width: 50%;
    padding: 15px;
    margin: 13% auto 0 auto;
    font-size: 33px;
}
.gs-Homehead {
    font-weight: 100;
    text-align: center;
}
.gs-Aboutstory {
    width: 60%;
    margin: auto;
}
.gs-Aboutstory-head {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin: 50px 0 25px 0;
    
}
.gs-Aboutstory-para {
    line-height: 30px;
}
.gs-Aboutpic-tell {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: auto;
}
.gs-Abouttell {
    margin-bottom: 50px;
}
.gs-Aboutpic img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}
.gs-Aboutleaders-container {
    width: 90%;
    margin: auto;
    margin-bottom: 90px;
}
.gs-Aboutleaders {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.gs-Aboutleadpic {
    text-align: center;
}
#hr {
    width: 65%;
    margin: auto;
}

@media screen and (max-width:950px){
    .gs-Aboutwrap{
        height: 130vh;
    }
}
@media screen and (max-width:845px){
    .gs-Aboutpic-tell{
        width: 90%;
    }
    .gs-Aboutstory-head{
        font-size: 35px;
    }
    h2{
        font-size: 18px;
    }
    .gs-Aboutstory-paras{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width:770px){
    .gs-Aboutstory{
        width: 75%;
    }
    .gs-Aboutpic-tell{
        width: 95%;
    }
}
@media screen and (max-width:700px){
    .gs-Aboutstory-para{
        font-size: 13px;
    }
    .gs-Aboutstory-paras{
        font-size: 13px;

    }
}
@media screen and (max-width:640px){
    .gs-Aboutwrap{
        height: 105vh;
    }
    .gs-Hometext {
        width: 65%;
        padding: 15px;
        margin: 15% auto 0 auto;
        font-size: x-large;
    }
    .gs-Aboutpic-tell {
        display: block;
        gap: 20px;
        width: 80%;
        margin: auto;
    }
    .gs-Abouttell {
        margin-bottom: 30px;
    }
    .gs-Aboutpic img{
        width: 100%;
    }
    .gs-Aboutleaders {
        display: block;
        gap: 50px;
    }
    .gs-Aboutleadpic{
        margin-bottom: 20px;
    }
    .gs-Aboutleaders-container {
        width: 50%;
        margin: auto;
        margin-bottom: 90px;
    }
}
@media screen and (max-width:453px){
    .gs-Hometext {
        width: 80%;
        padding: 15px;
        margin: 15% auto 0 auto;
        font-size: 20px;
    }
}
@media screen and (max-width:320px){
    .gs-Hometext {
        width: 85%;
        padding: 10px;
        margin: 33% auto 0 auto;
        font-size: 16px;
    }
}