.grand-Servicetext {
    width: 50%;
    margin: auto;
}
.grand-Servicehead {
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    padding: 40px 0 20px 0;
}
.grand-Servicepara {
    line-height: 35px;
}
.grand-Servicespan {
    color: rgba(53, 146, 252, 0.979);
    font-weight: 700;
}
.grand-Servicecardswrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}
.grand-Servicecards {
    text-align: center;
    padding: 18px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.grand-Servicecards img {
    width: 120px;
    height: 120px;
    object-fit: cover; 
}
#grand-hr {
    width: 55%;
    margin: auto;
    color: gold;
}
.grand-Servicelearn {
    width: 10%;
    padding: 8px;
    margin: 30px auto;
    text-align: center;
    background: rgb(13, 68, 13);
}
.grand-Servicelearn:hover {
    background: rgb(4,88,41);
    background: linear-gradient(132deg, rgba(4,88,41,1) 26%, rgba(9,85,42,1) 42%, rgba(11,47,69,1) 68%, rgba(8,54,80,1) 100%);
    cursor: pointer;
    color: beige;
}
.grand-Servicelearn a {
    color: beige;
    text-decoration: none;
}
.grand-Servicelearn a:hover {
    color: beige;
}
.grand-Servicesee a{
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
    font-weight: 500;
}
.grand-Servicesee {
padding-bottom: 50px;
}
.grand-Workspic img{
    width: 100%;
}
.grands-callhead {
    font-weight: 100;
    font-size: 50px;
    padding: 20px 0 0 0;
}
#pee {
    margin-bottom: 50px;
}
.grand-Servicetouch {
    width: 20%;
    padding: 8px;
    margin: 30px 0 150px 0;
    text-align: center;
    background: rgb(13, 68, 13)
}
.grand-Servicetouch a{
    color: beige;
    text-decoration: none;
}

@media screen and (max-width:1125px) {
    .grand-Workspic img{
        width: 100%;
    }
}
@media screen and (max-width:950px) {
    .grand-Servicetext {
        width: 70%;
        margin: auto;
    }
    .grand-Servicelearn {
        width: 15%;
    }
}
@media screen and (max-width:770px) {
    .grand-Servicecards {
        text-align: center;
        padding: 13px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    .grand-Servicecards p {
        font-size: smaller;
    }
    .grand-Servicecards img {
        width: 70px;
        height: 70px;
        object-fit: cover; 
    }
}

@media screen and (max-width:500px) {
    .grand-Servicetext {
        width: 80%;
        margin: auto;
    }
    .grand-Servicehead {
        font-size: 30px;
    }
    .grand-Servicepara {
        font-size: 15px;
    }
    .grand-Servicecardswrap {
        display: grid;
    }
    .grand-Servicecards {
        text-align: center;
    }
    .grand-Servicecards img {
        width: 50px;
        height: 50px;
        object-fit: cover; 
    }
    .grand-Servicecards p{
        font-size: 15px;
    }
    .grand-Servicelearn {
        width: 23%;
        font-size: small;
    }
    .grand-Servicesee a{
        font-size: 13px;
    }
    .grand-Workspic img{
        width: 100%;
    }
    .grands-callhead {
        font-size: 30px;
        margin: 30px 0 20px 0;
    }
    #pee {
        font-size: 14px;
    }
    .grand-Servicetouch {
        width: 30%;
    }
    .grand-Servicetouch a{
        font-size: 13px;
    }
}
@media screen and (max-width:450px) {
    .grand-Servicetext {
        width: 80%;
        margin: auto;
    }
    .grand-Servicehead {
        font-size: 30px;
    }
    .grand-Servicepara {
        font-size: 15px;
    }
    .grand-Servicecardswrap {
        display: grid;
    }
    .grand-Servicecards {
        text-align: center;
    }
    .grand-Servicecards img {
        width: 50px;
        height: 50px;
        object-fit: cover; 
    }
    .grand-Servicecards p{
        font-size: 15px;
    }
    .grand-Servicelearn {
        width: 23%;
        font-size: small;
    }
    .grand-Servicesee a{
        font-size: 13px;
    }
    .grand-Workspic img{
        width: 100%;
    }
    .grands-callhead {
        font-size: 30px;
        margin: 30px 0 20px 0;
    }
    #pee {
        font-size: 14px;
    }
    .grand-Servicetouch {
        width: 30%;
    }
    .grand-Servicetouch a{
        font-size: 13px;
    }
}
@media screen and (max-width:320px) {
    .grand-Servicetext {
        width: 80%;
        margin: auto;
    }
    .grand-Servicelearn {
        width: 28%;
        font-size: small;
    }
    .grand-Servicetouch {
        width: 35%;
    }
}