.grand-AboutContainer {
    background-image: url(../../assets/constructframe.avif);
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    margin: 0;
}
.grand-Aboutsection {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.grand-Abouttext {
    width: 80%;
    margin: auto;
    color: black;
    background-color: rgba(255, 253, 253, 0.87);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 30px;
    padding-bottom: 2px;
}
.grand-Abouthead {
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 20px 0 10px 0;
    font-size: 50px;
    font-weight: 300;
}
.grand-Aboutspan {
    color: rgba(53, 146, 252, 0.979);
    font-weight: 700;
}
.grand-Aboutarticle {
    padding: 0 30px;
}
#read {
    color: beige;
    text-decoration: none;
}
.grand-AboutRead {
    text-align: center;
    background-color: rgb(2, 5, 43);
    width: 17%;
    padding: 5px;
    color: beige;
    margin: 3% auto;
}
.grand-AboutRead:hover{
    background: transparent;
    background: linear-gradient(132deg, rgba(4,88,41,1) 26%, rgba(9,85,42,1) 42%, rgba(11,47,69,1) 68%, rgba(8,54,80,1) 100%);
    cursor: pointer;
}

@media screen and (max-width:950px) {
    .grand-Abouttext {
        width: 90%;
        color: black;
        background-color: rgba(255, 253, 253, 0.87);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        line-height: 28px;
        padding-bottom: 2px;
    }
    .grand-AboutRead {
        width: 20%;
    }
}
@media screen and (max-width:770px) {
    .grand-Abouttext {
        width: 100%;
        margin: auto;
        font-size: 14px;
    }
    .grand-AboutRead {
        width: 23%;
    }
}
@media screen and (max-width:845px) {
    .grand-Abouttext {
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width:622px) {
    .grand-Abouthead {
        font-size: 35px;
    }
    .grand-AboutRead {
        width: 28%;
    }
}

@media screen and (max-width:591px) {
    .grand-Abouthead {
        font-size: 30px;
    }
}
@media screen and (max-width:500px) {
    .grand-Abouthead {
        font-size: 35px;
    }
    .grand-Aboutsection {
        width: 100%;
    }
    .grand-AboutRead {
        width: 25%;
    }
}
@media screen and (max-width:450px) {
    .grand-AboutContainer {
        padding: 20px;
    }
    .grand-Abouttext {
        width: 100%;
        color: black;
        background-color: rgba(255, 253, 253, 0.87);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        line-height: 25px;
        padding-bottom: 2px;
    }
    .grand-Aboutsection {
        width: 100%;
    }
    .grand-Abouthead {
        text-align: center;
        margin: 0 auto 20px auto;
        padding: 20px 0 10px 0;
        font-size: 30px;
        font-weight: 300;
    }
    .grand-AboutRead {
        width: 40%;
    }
    .grand-Aboutarticle {
        font-size: 15px;
    }
}
@media screen and (max-width:320px) {
    .grand-Abouthead {
        font-size: 27px;
        font-weight: 400;
    }
    .grand-AboutRead {
        width: 45%;
    }
    .grand-Aboutarticle {
        font-size: 14px;
    }
}