.gs-Contactwrap {
    background-image: url(../../assets/hospitalconstruct.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
}
.gs-Contactwrap-head {
    background: black;
    background: rgba(19, 18, 18, 0.61);
    color: beige;
    width: 50%;
    padding: 40px;
    margin: 15% auto 0 auto;
    font-size: x-large;
}
.gs-Contacthead {
    font-weight: 100;
    text-align: center;
}
.gs-Contact-texthead {
    /* text-align: center; */
    font-weight: 100;
    font-size: 50px;
    padding: 80px 0 20px 0;
}
.gs-Contact-text {
    width: 40%;
    margin: auto;
}
.gs-Contact-text-p {
    line-height: 29px;
    margin-bottom: 40px;
}
.gs-Contactflex {
    width: 90%;
    margin:  8% auto;
    display: flex;
    gap: 40px;
}
iframe {
    margin-bottom: 50px;
}
.gs-Contactadress-icon {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.gs-Contactadress-icon a{
    text-decoration: none;
    color: black;
}
.gs-Contactform {
    width: 50%;
}
.gs-input {
    outline: none;
    border: 1px solid rgb(117, 117, 117);
    padding: 15px 40px;
    width: 100%;
    font-size: 15px;
    margin: 10px 0;
}
.gs-input::placeholder{
    opacity: .2;
    font-style: italic;
}
#text::placeholder{
    font-style: italic;
    opacity: .3;
}
#text {
    font-style: normal;
    width: 100%;
    padding: 15px; 
    outline: none;
    font-size: 15px;
    color: black;
    border: 1px solid rgb(117, 117, 117);
}
.gs-button {
    border: none;
    background-color: black;
    padding: 15px 30px;
    margin-bottom: 100px;
    color: beige;
    transform: translateZ(0);
    transition: transform .40s ease-out;
}
.gs-button:hover {
    cursor: pointer;
    transform: scale(1.09);
    background: rgb(4,88,41);
    background: linear-gradient(132deg, rgba(4,88,41,1) 26%, rgba(9,85,42,1) 42%, rgba(11,47,69,1) 68%, rgba(8,54,80,1) 100%);
}

@media screen and (max-width:1125px) {
    iframe {
        width: 550px;
        height: 400px;
    }
    .gs-Contact-text {
        width: 45%;
        margin: auto;
    }
}
@media screen and (max-width:950px) {
    iframe {
        width: 450px;
        height: 350px;
    }
    .gs-Contact-text {
        width: 55%;
        margin: auto;
    }
}
@media screen and (max-width:850px) {
    iframe {
        width: 400px;
        height: 350px;
    }
    .gs-Contact-text {
        width: 60%;
        margin: auto;
    }
}
@media screen and (max-width:770px) {
    .gs-Contactwrap-head {
        background: black;
        background: rgba(19, 18, 18, 0.61);
        color: beige;
        width: 65%;
        padding: 40px;
        margin: 15% auto 0 auto;
        font-size: x-large;
    }
    iframe {
        width: 350px;
        height: 300px;
    }
    .gs-Contact-text {
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-width:662px) {
    .gs-Contactwrap-head {
        background: black;
        background: rgba(19, 18, 18, 0.61);
        color: beige;
        width: 73%;
        padding: 40px;
        margin: 15% auto 0 auto;
        font-size: x-large;
    }
    .gs-Contactflex {
        display: grid;
        gap: 40px;
        justify-items: center;
    }
    .gs-Contactmap {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    .gs-Contact-text {
        width: 60%;
        margin: auto;
    }
    .gs-Contactform {
        width: 100%;
    }
    .gs-Contact-text {
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:500px) {
    .gs-Contactwrap-head {
        background: black;
        background: rgba(19, 18, 18, 0.61);
        color: beige;
        width: 85%;
        padding: 40px;
        margin: 15% auto 0 auto;
        font-size: x-large;
    }
}
@media screen and (max-width:450px) {
    .gs-Contactwrap-head {
        background: black;
        background: rgba(19, 18, 18, 0.61);
        color: beige;
        width: 93%;
        padding: 40px;
        margin: 35% auto 0 auto;
        font-size: x-large;
    }
    .gs-Contact-text {
        width: 90%;
        margin: auto;
    }
}