.grand-NavContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    color: beige;
    padding-top: 30px;
}
.grand-ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
.grand-li {
    color: beige;
    text-decoration: none;
}
.grand-li:hover {
    color: rgb(6, 253, 6);
}
.grand-hamburger {
    display: none;
}

@media screen and (max-width:450px) {
    .grand-ul {
        display: none;
    }
    .grand-hamburger {
        display: block;
    }
    .grand-Navhead {
        font-weight: 400;
        font-size: 25px;
    }
}
