.grand-NavContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    color: beige;
    padding-top: 30px;
}
.grand-ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
.grand-li {
    color: rgb(206, 195, 195);
    text-decoration: none;
    font-weight: 600;
}
.grand-li:hover {
    color: rgba(206, 195, 195, 0.705);
}
.grand-hamburger {
    display: none;
}
@media screen and (max-width:1125px) {
    .grand-NavContainer {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:950px) {
    .grand-NavContainer {
        width: 96%;
        margin: auto;
    }
    .grand-ul {
        gap: 40px;
    }
}
@media screen and (max-width:845px) {
    .grand-ul {
        gap: 30px;
    }
}
@media screen and (max-width:770px) {
    .grand-ul {
        display: none;
    }
    .grand-hamburger {
        display: block;
    }
}
@media screen and (max-width:500px) {
    .grand-ul {
        display: none;
    }
    .grand-hamburger {
        display: block;
    }
    .grand-Navhead {
        font-weight: 400;
        font-size: 25px;
    }
}
@media screen and (max-width:450px) {
    .grand-ul {
        display: none;
    }
    .grand-hamburger {
        display: block;
    }
    .grand-Navhead {
        font-weight: 400;
        font-size: 25px;
    }
}
