.grand-footercontainer {
    background-color: rgb(236, 234, 234);
    /* height: 50vh; */
}
.grand-footer {
    text-align: center;
}
.grand-footericon {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin: 50px auto 10px auto; */
}
.grand-footericon a{
    color: black;
}
.grand-icon {
    margin-top: 60px;
}
.grand-footerlink {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px auto;
    font-size: 12.5px;
    font-weight: 700;
}
.grand-footerlink a{
    text-decoration: none;
    color: black;
}
.grand-footercopy {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}
#arr {
    color: black;
}
@media screen and (max-width:500px) {
    .grand-footerlink {
        font-size: 11px;
    }
    .grand-footercopy {
        font-size: 12px;
    }
}

