.grand-HomeContainer {
    background-image: url(../../assets/luxhome.avif);
    background-size: cover;
    position: relative;
    height: 110vh;
}
.grand-Hometext {
    background: black;
    background: rgba(0, 0, 0, .4);
    color: beige;
    width: 50%;
    margin: 15% auto 0 auto;
    font-size: x-large;
}
.grand-Homehead {
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width:450px) {
    .grand-Hometext {
        background: black;
        background: rgba(0, 0, 0, .4);
        color: beige;
        width: 80%;
        margin: 20% auto 0 auto;
        font-size: 15px;
    }
}
@media screen and (max-width:450px) {
    .grand-Hometext {
        width: 90%;
        margin: 50% auto 0 auto;
    }
}